.nav {
	&.header-nav {
		padding: 26px 0;
		background-color: #161d3b;
	}

	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__link {
		font-weight: 600;
		font-size: 16px;
		color: #fff;
		text-transform: uppercase;
		&.active {
			color: #d9b165;
		}
	}
}
