<section class="block4 block">
	<div class="container">
		<div class="block4-head block-head">
		<h2 class="block4-head__title block-title">ПРИМЕРЫ РАБОТ</h2>
			<div class="block4-head__info block-head-info">
				<img src="img/block4-icon.svg" alt="" class="block4-head__icon block-head-icon">
				<p class="block4-head__text block-head-text">Вывели в ТОП более 50+ сайтов по всей России и кратно увеличили целевой трафик</p>
			</div>
		</div>
		<div class="block4-inner">
			<div class="block4-slider swiper">
				<button class="block4-slider-btn block4-slider-btn--next slider-btn btn-reset">
					<svg width="18" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.707 8.707a1 1 0 000-1.414L11.343.929A1 1 0 109.93 2.343L15.586 8l-5.657 5.657a1 1 0 001.414 1.414l6.364-6.364zM0 9h17V7H0v2z" fill="#fff"/></svg>
				</button>
				<button class="block4-slider-btn block4-slider-btn--prev slider-btn btn-reset">
					<svg width="18" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.293 8.707a1 1 0 010-1.414L6.657.929A1 1 0 018.07 2.343L2.414 8l5.657 5.657a1 1 0 11-1.414 1.414L.293 8.707zM18 9H1V7h17v2z" fill="#fff"/></svg>
				</button>
				<div class="block4-slider__wrapper swiper-wrapper">

					<div class="block4-slide swiper-slide">
						<div class="block4-slide__inner">
							<img src="img/block4-slide-1.webp" alt="" class="block4-slide__img">
							<div class="block4-slide__info">
								<p class="block4-slide__info-descr">Партнёрская программа авиабилеты</p>
								<h3 class="block4-slide__info-title">РЕЗУЛЬТАТЫ</h3>
								<div class="block4-slide__table">
									<div class="block4-slide__table-row">
										<div class="wrapper">
											<img src="img/block4-slide-icon.svg" alt="" class="block4-slide__table-icon">
											<p class="block4-slide__table-accent">ТОП 259</p>
											<span class="line"></span>
										</div>
										<p class="block4-slide__table-text">поисковых запросов</p>
									</div>
									<div class="block4-slide__table-row">
										<div class="wrapper">
											<img src="img/block4-slide-icon.svg" alt="" class="block4-slide__table-icon">
											<p class="block4-slide__table-accent">114</p>
											<span class="line"></span>
										</div>
										<p class="block4-slide__table-text">целевой трафик в сутки</p>
									</div>
									<div class="block4-slide__table-row">
										<div class="wrapper">
											<img src="img/block4-slide-icon.svg" alt="" class="block4-slide__table-icon">
											<p class="block4-slide__table-accent">CR 17%</p>
											<span class="line"></span>
										</div>
										<p class="block4-slide__table-text">средняя конверсия</p>
									</div>
									<div class="block4-slide__table-row">
										<div class="wrapper">
											<img src="img/block4-slide-icon.svg" alt="" class="block4-slide__table-icon">
											<p class="block4-slide__table-accent">18</p>
											<span class="line"></span>
										</div>
										<p class="block4-slide__table-text">заявок в день</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="block4-slide swiper-slide">
						<div class="block4-slide__inner">
							<img src="img/block4-slide-1.webp" alt="" class="block4-slide__img">
							<div class="block4-slide__info">
								<p class="block4-slide__info-descr">Партнёрская программа авиабилеты</p>
								<h3 class="block4-slide__info-title">РЕЗУЛЬТАТЫ</h3>
								<div class="block4-slide__table">
									<div class="block4-slide__table-row">
										<div class="wrapper">
											<img src="img/block4-slide-icon.svg" alt="" class="block4-slide__table-icon">
											<p class="block4-slide__table-accent">ТОП 259</p>
											<span class="line"></span>
										</div>
										<p class="block4-slide__table-text">поисковых запросов</p>
									</div>
									<div class="block4-slide__table-row">
										<div class="wrapper">
											<img src="img/block4-slide-icon.svg" alt="" class="block4-slide__table-icon">
											<p class="block4-slide__table-accent">114</p>
											<span class="line"></span>
										</div>
										<p class="block4-slide__table-text">целевой трафик в сутки</p>
									</div>
									<div class="block4-slide__table-row">
										<div class="wrapper">
											<img src="img/block4-slide-icon.svg" alt="" class="block4-slide__table-icon">
											<p class="block4-slide__table-accent">CR 17%</p>
											<span class="line"></span>
										</div>
										<p class="block4-slide__table-text">средняя конверсия</p>
									</div>
									<div class="block4-slide__table-row">
										<div class="wrapper">
											<img src="img/block4-slide-icon.svg" alt="" class="block4-slide__table-icon">
											<p class="block4-slide__table-accent">18</p>
											<span class="line"></span>
										</div>
										<p class="block4-slide__table-text">заявок в день</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
