<section class="block5 block">
	<div class="container">
		<div class="block5-head block-head">
			<span class="block5-head__year">2023</span>
			<h2 class="block5-head__title block-title">КОМПЛЕКСНАЯ СТРАТЕГИЯ</h2>
			<div class="block5-head__info block-head-info">
				<img src="img/block5-icon.svg" alt="" class="block5-head__icon block-head-icon" />
				<p class="block5-head__text block-head-text">С учётом технологий машинного обучения поисковых систем</p>
			</div>
		</div>
		<div class="block5-inner">
			<div class="block5-left">
				<p class="block5-left__text">Современные требования к сайту:</p>
				<img src="img/block5-img.webp" alt="" class="block5-left__img">
			</div>
			<div class="block5-center">
				<p class="block5-center__descr">Сегодня чтобы продавать и зарабатывать необходимо координально поменять однобокий подход к продвижению бизнеса в интернете</p>
				<ul class="block5-center__list list-reset">
					<li class="block5-center__item">
						<span>Правильная структура</span>
					</li>
					<li class="block5-center__item">
						<span>Экспертный контент</span>
					</li>
					<li class="block5-center__item">
						<span>Авторский дизайн</span>
					</li>
					<li class="block5-center__item">
						<span>Удобство для пользователя</span>
					</li>
					<li class="block5-center__item">
						<span>Мобильная версия</span>
					</li>
					<li class="block5-center__item">
						<span>Техническая оптимизация</span>
					</li>
					<li class="block5-center__item">
						<span>Бренд и репутация в сети</span>
					</li>
				</ul>
			</div>
			<div class="block5-right">
				<img class="block5-right__person" src="img/block5-person.webp" alt="">
				<div class="block5-right__info">
					<span class="block5-right__name">Евгений Тютюхин</span>
					<span class="block5-right__position">руководитель проектов</span>
				</div>
			</div>
		</div>
	</div>
</section>
