<section class="block2 block">
  <div class="container">
    <div class="block2-head block-head">
      <h2 class="block2-head__title block-title">КАТЕГОРИИ БИЗНЕСА</h2>
      <div class="block2-head__info">
        <img src="img/block2-icon.svg" alt="" class="block2-head__icon block-head-icon">
        <p class="block2-head__text block-head-text">Учитываем специфику и особенности продвижения Вашей тематики</p>
      </div>
    </div>
    <div class="block2-inner__wrapper">
      <div class="block2-inner">
        <div class="block2-lists accent">
          <ul class="block2-list list-reset">
            <li class="block2-list__item">Автозапчасти</li>
            <li class="block2-list__item">Автосервис</li>
            <li class="block2-list__item">Автосалон</li>
            <li class="block2-list__item">Авиабилеты</li>
            <li class="block2-list__item">Автомобили</li>
          </ul>
          <ul class="block2-list list-reset">
            <li class="block2-list__item">Бухгалтерские услуги</li>
            <li class="block2-list__item">Банк</li>
            <li class="block2-list__item">Библиотека</li>
            <li class="block2-list__item">База отдыха</li>
            <li class="block2-list__item">Банкростство</li>
          </ul>
          <ul class="block2-list list-reset">
            <li class="block2-list__item">Выкуп авто</li>
            <li class="block2-list__item">Семейный врач	</li>
            <li class="block2-list__item">ВУЗ, институт</li>
          </ul>
        </div>
        <div class="block2-lists">
          <ul class="block2-list list-reset">
            <li class="block2-list__item">Гостиница</li>
            <li class="block2-list__item">Мебель</li>
            <li class="block2-list__item">Оборудование</li>
            <li class="block2-list__item">Ритуальные услуги</li>
            <li class="block2-list__item">Строительство</li>
            <li class="block2-list__item">Туризм</li>
            <li class="block2-list__item">Цветы</li>
          </ul>
          <ul class="block2-list list-reset">
            <li class="block2-list__item">Детские товары</li>
            <li class="block2-list__item">Недвижимость</li>
            <li class="block2-list__item">Питомник</li>
            <li class="block2-list__item">Ремонт</li>
            <li class="block2-list__item">Строительный магазин</li>
            <li class="block2-list__item">Тротуарная плитка</li>
            <li class="block2-list__item">Юридические услуги</li>
          </ul>
          <ul class="block2-list list-reset">
            <li class="block2-list__item">Медицинская клиника</li>
            <li class="block2-list__item">Одежда и обувь</li>
            <li class="block2-list__item">Психолог</li>
            <li class="block2-list__item">Ремонт техники</li>
            <li class="block2-list__item">Свадебные услуги</li>
            <li class="block2-list__item">Фитнес</li>
            <li class="block2-list__item">Ювелирые украшения</li>
          </ul>
        </div>
      </div>

      <div class="block2-person">
        <img src="img/block2-person.webp" alt="" class="block2-person__img">
        <div class="block2-person__info">
          <span class="block2-person__name">Сергей</span>
          <span class="block2-person__position">Менеджер проектов	</span>
        </div>
        <p class="block2-person__descr">Владелец бизнеса заинтересован в масштабировании своей компании и увеличении заявок, а не просто в раскрутке сайта</p>
      </div>

    </div>
    <div class="block2-footer">
      <img src="img/block2-img.webp" alt="" class="block2-footer__img">
      <div class="block2-footer__text">
        <p>В нашем портфолио более 50 различных проектов в сфере услуг, розничной и оптовой торговли, питания, моды и красоты, детских товаров, обучения, производства и др. <strong>Результаты работ это рост объёмов продаж и повышение прибыли.</strong></p>
      </div>
    </div>
  </div>
</section>
