<header class="header">
	<div class="container">
		<a href="#" class="header-logo">
			<img src="./img/seob2b-logo.webp" alt="Логотип SEOB2B" class="header-logo__img" />
			<span class="header-logo__text">Интернет агентство</span>
		</a>
		<div class="header-location">
			<span class="header-location__city">Москва</span>
		</div>
		<div class="header-info">
			<img src="./img/rating-icon.svg" alt="" class="header-info__img" />
			<p class="header-info__text">
				Рейтинг на основе <span>50+ проектов</span> разных тематик
			</p>
		</div>
		<div class="header-socials">
			<p class="header-socials__title header-top-title">
				Пишите мы онлайн
			</p>
			<div class="header-socials__wrapper">
				<a href="#" class="header-socials__link">
					<img src="./img/telegram-icon.svg" alt="Иконка telegram" class="header-socials__icon" />
				</a>
				<a href="#" class="header-socials__link">
					<img src="./img/whatsapp-icon.svg" alt="Иконка whatsapp" class="header-socials__icon" />
				</a>
				<a href="#" class="header-socials__link">
					<img src="./img/viber-icon.svg" alt="Иконка viber" class="header-socials__icon" />
				</a>
			</div>
		</div>
		<div class="header-phone">
			<p class="header-phone__title header-top-title">
				Звоните мы работаем
			</p>
			<a href="tel:8 999 036-87-70" class="header-phone__tel">8 999 036-87-70</a>
			<button type="button" class="header-phone__button btn-reset" data-toggle="modal"
				data-target="#exampleModal">
				Заказать звонок
			</button>
		</div>
	</div>
</header>
