<nav class="nav">
  <div class="container">
    <ul class="nav__list list-reset">
      <li class="nav__item">
        <a href="" class="nav__link active">Категории бизнеса</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Поисковые системы </a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Виды сайтов</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Создание сайтов</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Реклама</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">О компании</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Контакты</a>
      </li>
    </ul>
  </div>
</nav>
