html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.page {
	height: 100%;
	font-family: var(--font-family, sans-serif);
	-webkit-text-size-adjust: 100%;
}

.page__body {
	margin: 0;
	min-width: 320px;
	min-height: 100%;
	font-size: 16px;
	font-weight: 600;
	color: var(--text-color);
}

img {
	height: auto;
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

.site-container {
	overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
	display: none !important;
	/* stylelint-disable-line declaration-no-important */
}

.btn-reset {
	border: none;
	padding: 0;
	background: transparent;
	cursor: pointer;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.input-reset {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
	background-color: #fff;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.container {
	margin: 0 auto;
	padding: 0 var(--container-offset);
	max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

.centered {
	text-align: center;
}

.dis-scroll {
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	overscroll-behavior: none;
}

.page--ios .dis-scroll {
	position: relative;
}

.block {
	padding: 80px 0;
}

.block-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.block-head-info {
	display: flex;
	align-items: center;
}
.block-title {
	margin: 0;
	font-weight: 700;
	font-size: 50px;
	color: var(--title-color);
	text-transform: uppercase;
}

.block-head-text {
	margin: 0;
	font-weight: 500;
	font-size: 18px;
	color: var(--text-color);
}

.slider-btn {
	width: 78px;
	height: 78px;
	background: #D9B165;
	box-shadow: inset 0px 4px 30px #FFE2AA;
	border-radius: 50%;
	z-index: 10;

	&:disabled {
		background-color: #fff;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
		path {
			fill: #D9B165;
		}
	}
}

.btn-accent {
	font-weight: 600;
	font-size: 16px;
	color: #ffffff;

	max-width: 360px;
	max-height: 96px;
	width: 100%;
	margin-left: auto;

	background-color: #c5283d;
	box-shadow: inset 0px 4px 30px #ff798b;
	border-radius: 47.5px;

	display: flex;
	align-items: center;
	justify-content: center;

	span {
		margin-right: 20px;
	}
}
